button {
    background-color: white;
    border: none;
    font-size: large;
    border: 1px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.0), 0 6px 20px 0 rgba(0,0,0,0.20);
    text-align: center;
    transition-duration: 0.4s;
}
button:hover {
    background-color: black;
    color: white;
}
body {
    background-image: url('../src/assets/128083.jpg');
}
h1 {
    color: white;
}
input {
      text-align: center;
}